version: "3.9"
services:
  coturn:
    image: "coturn/coturn:4.6.3"
    container_name: coturn
    restart: unless-stopped
    network_mode: host
    volumes:
      - "/etc/letsencrypt:/etc/letsencrypt:ro"
    command: "-n --log-file=stdout --listening-port=3478 --tls-listening-port=5349 --min-port=49152 --max-port=49200 --fingerprint --lt-cred-mech --realm=${REALM} --user=${TURN_USERNAME}:${TURN_PASS} --external-ip=${IP_ADDRESS} --no-tlsv1 --no-tlsv1_1 --no-multicast-peers --cli-password=${CLI_PASSWORD} --verbose --web-admin --web-admin-ip=0.0.0.0 --web-admin-port=${PORT} --web-admin-listen-on-workers --cert=/etc/letsencrypt/live/${DOMAIN_NAME}/fullchain.pem --pkey=/etc/letsencrypt/live/${DOMAIN_NAME}/privkey.pem"
